.modal-toggle-button {
  position: fixed;
  top: auto;
  left: auto;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  background-color: #007bff;
  width: 6rem;
  border-radius: 3rem;
}
